.component7defaultChild {
  width: 554px;
  height: 167px;
  position: relative;
  box-shadow: 4px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: var(--br-3xs) var(--br-3xs) 0 var(--br-3xs);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.loremIpsumDolor,
.tip {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.tip {
  width: 238.1px;
  font-weight: 600;
}
.loremIpsumDolor {
  flex: 1;
  max-width: 100%;
}
.component7default,
.tipLorem {
  align-items: flex-start;
  box-sizing: border-box;
}
.tipLorem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 var(--padding-7xs);
  max-width: 100%;
  text-align: justify;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
.component7default {
  width: 554px;
  box-shadow: 4px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: var(--br-3xs) var(--br-3xs) 0 var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-14xl) var(--padding-2xl-7);
  gap: var(--gap-12xs-3);
  z-index: 2;
}
.component7default,
.defaultContainer,
.tipComponent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.tipComponent {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  margin-top: -236px;
}
.defaultContainer {
  width: 621px;
  flex-direction: column;
  align-items: flex-end;
  min-width: 621px;
  min-height: 304px;
}
.defaultComponent,
.defaultContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.defaultContent {
  width: 1218px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.defaultComponent {
  align-self: stretch;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumslateblue);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1225px) {
  .defaultContainer {
    flex: 1;
  }
  .defaultContent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .defaultContainer {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .tip {
    font-size: var(--font-size-lgi);
  }
  .loremIpsumDolor {
    font-size: var(--font-size-base);
  }
}
