.frameChild {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild,
.frameItem,
.socialLinkIconsBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frameItem {
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.socialLinkIconsBackground {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
}
.socialLinkIcons {
  position: absolute;
  height: 79.31%;
  width: 40%;
  top: 10.34%;
  right: 30%;
  bottom: 10.34%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.facebook {
  height: 17.4px;
  width: 30px;
  position: relative;
  z-index: 1;
}
.instagramChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
}
.vectorIcon {
  position: absolute;
  height: 79.31%;
  width: 76.59%;
  top: 10.34%;
  right: 10.03%;
  bottom: 10.34%;
  left: 13.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.instagram {
  height: 17.4px;
  width: 29.9px;
  position: relative;
  z-index: 1;
}
.linkdinChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
}
.vectorIcon1 {
  position: absolute;
  height: 75.86%;
  width: 76.59%;
  top: 13.79%;
  right: 10.03%;
  bottom: 10.34%;
  left: 13.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.linkdin {
  height: 17.4px;
  width: 29.9px;
  position: relative;
  z-index: 1;
}
.twitterChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-500);
}
.vectorIcon2 {
  position: absolute;
  height: 72.41%;
  width: 86.62%;
  top: 13.79%;
  right: 6.69%;
  bottom: 13.79%;
  left: 6.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.twitter {
  height: 17.4px;
  width: 29.9px;
  position: relative;
  z-index: 1;
}
.socialLinks,
.socialLinksWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.socialLinks {
  flex-direction: row;
  gap: var(--gap-lgi-9);
}
.socialLinksWrapper {
  width: 450.7px;
  flex-direction: column;
  padding: var(--padding-26xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.company {
  position: relative;
  letter-spacing: 0.08em;
  display: inline-block;
  min-width: 114px;
  flex-shrink: 0;
  z-index: 1;
}
.companyWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-9xs);
  font-size: var(--font-size-xl);
}
.termsOfService {
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 1;
}
.termsOfServiceWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  margin-top: -2px;
}
.privacyPolicy {
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 500;
  flex-shrink: 0;
  z-index: 2;
}
.privacyPolicyWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  margin-top: -2px;
}
.legalNotice {
  position: relative;
  letter-spacing: 0.06em;
  font-weight: 500;
  display: inline-block;
  min-width: 116px;
  flex-shrink: 0;
  z-index: 1;
}
.legalNoticeWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  margin-top: -2px;
}
.about {
  margin-top: -0.7px;
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
  flex-shrink: 0;
  z-index: 1;
}
.aboutWrapper {
  height: 25.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  margin-top: -2px;
}
.careers {
  margin-top: -0.8px;
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
  flex-shrink: 0;
  z-index: 2;
}
.careersWrapper,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.careersWrapper {
  height: 25.2px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  margin-top: -2px;
}
.frameParent1 {
  height: 158.7px;
  flex-direction: column;
}
.resources {
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
  z-index: 1;
}
.resourcesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  font-size: var(--font-size-xl);
}
.blog {
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 500;
  display: inline-block;
  min-width: 44px;
  z-index: 1;
}
.blogWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.helpCenter,
.security {
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.security {
  min-width: 81px;
}
.frameDiv,
.frameParent2,
.securityWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.securityWrapper {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.frameDiv,
.frameParent2 {
  width: 134px;
  flex-direction: column;
  gap: var(--gap-11xs-3);
}
.frameDiv {
  width: 428px;
  flex-direction: row;
  gap: var(--gap-112xl);
  max-width: 100%;
}
.contact,
.contactUs,
.support {
  position: relative;
  letter-spacing: 0.08em;
  display: inline-block;
  min-width: 90px;
  z-index: 1;
}
.contactUs,
.support {
  font-weight: 500;
  min-width: 108px;
  z-index: 2;
}
.support {
  min-width: 78px;
  z-index: 1;
  margin-top: -1.4px;
}
.contactUsParent {
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-mid);
  font-family: var(--font-poppins);
}
.contactParent,
.contactUsParent,
.frameContainer {
  display: flex;
  align-items: flex-start;
}
.contactParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.allRightsReserved {
  height: 15.6px;
  width: 357px;
  position: relative;
  letter-spacing: 0.06em;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.englishIn {
  font-weight: 600;
}
.languageRegionContainer {
  height: 15.6px;
  position: relative;
  letter-spacing: 0.06em;
  display: inline-block;
  z-index: 1;
}
.languageIcon {
  width: 17.1px;
  height: 6px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.languageIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-4) 0 0;
}
.allRightsReservedParent,
.languageRegionEnglishInParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs-1);
  max-width: 100%;
}
.allRightsReservedParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameGroup,
.frameParent,
.frameWrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) 0 var(--padding-6xl);
}
.frameGroup,
.frameParent {
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-19xl-8) var(--padding-112xl) var(--padding-50xl-9)
    var(--padding-44xl);
  gap: var(--gap-40xl-2);
  z-index: 1;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-75xl) 0 var(--padding-75xl-4);
  min-height: 640px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1325px) {
  .frameContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .allRightsReservedParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .frameDiv {
    flex-wrap: wrap;
  }
  .frameGroup {
    gap: var(--gap-11xl);
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-46xl);
    box-sizing: border-box;
  }
  .frameParent {
    padding-top: var(--padding-42xl);
    padding-bottom: var(--padding-42xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .company,
  .resources {
    font-size: var(--font-size-base);
  }
  .frameDiv {
    gap: var(--gap-46xl);
  }
  .contact {
    font-size: var(--font-size-base);
  }
  .frameGroup {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
